@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: tomato;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px white;
  padding: 30px;

}

h1 {
  color: white;
}

#quiz-buttons {
  flex-direction: row;

}

.button {
  border: 1px solid white;

}

a.button {
  text-decoration: none;
  color: black;
  margin-top: 5px;
  padding: 5px;
  background: LimeGreen;
}

#arrow-button-next {
  style: none;
  border: solid 2px white;
  color: LimeGreen;
  background: white;
}

#arrow-button-previous {
  style: none;
  border: solid 2px white;
  margin-right: 5px;
  color: LimeGreen;
  background: white;
}

.easy-quiz-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 2em;
  width: 100%;
  height: 100%;
  align-items: center;
}


#quiz-submit {
  align-self: center;
}
