@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: #F4F6F6;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

}

h1 {
  color: white;
}

h2 {

}

#quiz-buttons {
  flex-direction: row;
  padding: 2px;
}

.button {
  border: 1px solid white;

}

a.button {
  text-decoration: none;
  text-align: center;
  color: white;
  margin: 5px;
  padding: 5px;
  background: #E37461;
}

#arrow-button-next {
  style: none;
  border: solid 2px white;
  color: #E37461;
  background: white;
}

#arrow-button-previous {
  style: none;
  border: solid 2px white;
  margin-right: 5px;
  color: #E37461;
  background: white;
}

.easy-quiz-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 2em;
  width: 100%;
  height: 100%;
  align-items: center;
}

#quiz-submit {
  align-self: center;
}

.info {
  list-style: none;
  font-style: italic;
}

.source-citation {
  font-size: 12px;
  margin-top: 5px;
}

.results-container {
  margin: 15px;
}

.info {
  color: #E37461;
}

.results-header {
  color: #E37461;

}
