{% extends 'base.html' %}

{% block page_title %}Take the quiz!{% endblock %}

{% block stylesheets %}
  <style>
  #questions > div:not(.gallerify-show) { display: none; }
  </style>
{% endblock %}

{% block content %}
  <h1>Quiz</h1>
  <h2>Answer these 10 questions to test your knowledge of food costs.</h2>
  <form>
    <div id="questions"></div>
    <br />
    <button id="quiz-submit">submit quiz</button>
  </form>

{% endblock %}



{% block scripts %}
{% load static %}

<script src="{% static 'question-rotate.js' %}"></script>

{% include 'quiz-logic.html' with url_name='api:pound-quiz' %}
{% endblock %}
