{% extends 'base.html' %}

{% block page_title %}Take the quiz!{% endblock %}

{% block stylesheets %}
  <style>
  #questions > div:not(.gallerify-show) { display: none; }
  </style>
{% endblock %}

{% block content %}
<div class="easy-quiz-container">
  <form>
    <div id="questions"></div>
    <button id="quiz-submit">submit quiz</button>
  </form>
</div>

{% endblock %}



{% block scripts %}
{% load static %}

<script src="{% static 'question-rotate.js' %}"></script>


{% include 'quiz-logic.html' with url_name='api:cost-quiz' %}
{% endblock %}
