{% extends 'base.html' %}

{% block page_title %}Take the quiz!{% endblock %}

{% block content %}
  <h1>Quiz</h1>
  <h2>answer the below questions to test your food cost knowledge.</h2>
  <form>
    <div id="questions"></div>
    <button id="quiz-submit">submit quiz</button>
  </form>

{% endblock %}



{% block scripts %}
<script>
  var quizData;
  var errors;

  function createQuestionText(question) {
    return `How much does ${question.rounded_amount} ${question.variant.size_of_cup_eq_measurement} of ${question.variant.storage_type} ${question.variant.consumable.name} cost?`;
  }

  function createQuestionElement(question, index) {
    var $div = $('<div />', {id: `question-${index}`});
    var $label = $('<label />').text(createQuestionText(question));
    var $input = $('<input />', {
      type: 'text',
      name: 'guess',
      placeholder: 'guess',
      value: Math.random() * 4
    });
    return $div.append([$label, $input]);
  }

  function postAnswersToAPI() {
    $.ajax({
      url : "{% url 'api:submit-quiz' %}",
      data : JSON.stringify({'questions': quizData}),
      processData : false,
      method : 'POST'
    })
    .done(function(data) {
      console.log(data);
    })
    .fail(function(e) {
      console.log(e.responseText)
    })
  }

  function bindQuizSubmit() {
    $('#quiz-submit').on('click', function(e) {
      e.preventDefault();
      $('#questions > div').each(function(index) {
        var id = $(this).attr('id').split('-')[1];
        var amount = $(this).find('input').val();

        if(isNaN(amount) || amount === '') {
          errors = errors || [];
          errors.push({
            message: 'Please enter a valid number.',
            questionId: id
          });
        } else {
          quizData[id].guess = {
            amount: amount
          };
        }
      });
      if (errors) {
        console.log('there were errors mate.');
        console.log(errors)
      } else {
        postAnswersToAPI();
      }
      errors = undefined;
      return false;
    });
  }

  $(document).ready(function() {
    $.get("{% url 'api:cost-quiz' %}")
    .done(function(data) {
      quizData = data.questions;
      quizData.forEach(function(item, index) {
        $('#questions').append(
            createQuestionElement(item, index)
        );
      });
      bindQuizSubmit();
    });
  });
</script>
{% endblock %}
